{% extends "partials/base.html" %}

{% block title %}
<title>{{section.title}}</title>
<meta name="description" content="{{section.extra.description | default(value=config.description)}}" />
{% endblock %}

{% block ogp %}
<meta property="og:title" content="{{section.title}}" />
<meta property="og:description" content="{{section.extra.description | default(value=config.description)}}" />
<meta property="og:type" content="website" />
{% if current_url %}
<meta property="og:url" content="{{current_url | safe}}" />
{% endif %}
<meta property="og:image" content="TODO" />
{% endblock %}

{% block rss %}
{% if section.generate_feed %}
<link rel="alternate" type="application/atom+xml" title="{{section.title}} Feed" href="{{section.permalink | safe}}atom.xml">
{% endif %}
{% endblock %}

{% block content %}
<p>TODO content</p>
{% endblock content %}